* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

#main {
    margin: auto;
    padding: 10px;
    width: 70%;
    background-color: #556b90;
}

img.coding {
    display: block;
    width: 750px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

div.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 280px;
    padding: 20px;
}

img.profile {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

p.top {
    margin-top: 20px;
}
ul {
    margin-top: 30px;
}

ul li {
    list-style-position: inside;
}

#content {
    background-color: yellowgreen;
}
h3 {
    text-align: center;
}
.linkedin {
    width: 40px;
    height: 30px;
}

ul.tools {
    display: flex;
    list-style: none;
    justify-content: center;
}
ul.tools li {
    text-align: center;
    padding: 10px;
}